:root {
  --WHITE: #fff;
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header,
main,
footer,
nav,
ul,
li,
h2,
a,
p,
svg {
  margin: 0;
}

/* Removing the <ul> default padding */
.header-menu,
.contact-menu,
.article-unorder-list,
.gadget-unorder-list,
.team-unorder-list {
  padding: 0;
}

.container {
  /* width: 1158px; */
  margin-left: auto;
  margin-right: auto;
}

/* Header/Navigation Section */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu {
    margin-right: 332px;
    margin-left: 76px;
    gap: 40px;
  }

  .contact-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.logo {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo span {
  color: var(--IRIS);
}

.header-menu-list {
  list-style: none;
}

.header-menu span {
  color: var(--IRIS);
}

.header-menu-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  list-style-type: none;
}

/* Contacts Section */
.contact-menu-list {
  list-style: none;
}

.contact-menu .contact-menu-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Hero Section */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  height: 600px;
  background-image: url(../images/people-office\ 1.jpg);
  background-color: var(--NAVY-BLUE);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;

  & h1 {
    margin-bottom: 48px;
    color: var(--WHITE);
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
  }

  & button {
    /* Button Layout */
    padding: 16px 32px;

    /* Button Style */
    cursor: pointer;

    border: 0px;
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #fff);

    /* Button Text */
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
  }
}

/* Section Article */
.section-article .article-unorder-list svg {
  fill: var(--LIGHT-SLATE);

  width: 264px;
  height: 112px;

  background-color: var(--CLOUD);
  border-radius: 4px;
  border: 0px;
}

.section-article .article-unorder-list svg:hover {
  fill: orange;
}

.section-article ul {
  margin-left: 156px;
  margin-right: 156px;
}

.section-article .article-unorder-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 120px 16px;
}

.section-article li {
  list-style: none;
}

.section-article p {
  letter-spacing: 0.72px;
  text-wrap: pretty;
}

.section-article .article-unorder-list .article-title {
  color: var(--NAVY-BLUE);
  padding-bottom: 8px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-article .article-unorder-list .article-paragraph {
  color: var(--SLATE);
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Section Gadget */
.section-gadget h2 {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.section-gadget .gadget-unorder-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 72px 156px 120px;
}

.section-gadget li {
  list-style: none;
}

/* Section Team */
.section-team {
  background-color: var(--CLOUD);
  padding-bottom: 120px;
}

.section-team h2 {
  color: var(--NAVY-BLUE);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.section-team .team-unorder-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  padding: 72px auto 120px;
}

.section-team .team-unorder-list .name {
  padding-top: 32px;
  padding-bottom: 8px;

  color: var(--NAVY-BLUE);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-team .team-unorder-list .designation {
  color: var(--SLATE);
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-bottom: 32px;
}

.section-team li {
  list-style: none;
}

.team-list {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Customer Section */
.customers {
  background-color: var(--WHITE);

  & h2 {
    color: var(--NAVY-BLUE);
    font-size: 36px;
    font-weight: 700;

    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center;

    margin: 120px auto 72px;
  }

  .svg-icon-lists {
    padding: 0px; /*removing the default padding*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin: 0px auto 120px;
    list-style: none;
  }

  .svg-icon-item svg {
    padding: 16px 32px;
    width: 168px;
    height: 88px;

    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
  }

  .svg-icon-anchor svg {
    fill: var(--LIGHT-SLATE);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg-icon-anchor svg:hover {
    fill: orange;
  }
}

/*Footer Section */
footer {
  background-color: var(--NAVY-BLUE);
  height: 312px;

  .logo {
    color: var(--CLOUD);

    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .text {
    color: var(--WHITE);
    margin-left: 156px;

    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .logo,
  .text {
    padding-left: 16px;
  }
}

.logo-container {
  padding-top: 102px;
  padding-bottom: 16px;
  margin-left: 156px;
}
